//COLORES
$color-orange: #f26002;
$color-white: #ffffff;
$color-pastelblue: #eff9ff;
$color-sky: #8ccbea;
$color-blue: #0271bc;
$color-ocean: #304268;
$color-black: #000000;
$color-greyvampire: #4a4a4a;
$color-orange-hover: #f26002;
$color-white-hover: #ffffff;
//FONT FAMILY
$fontfamily-titles: 'Roboto Slab', serif;
$fontfamily-parrafos: 'Roboto', sans-serif;
$fontfamily-buttons: 'Roboto', sans-serif;
//FONT WEIGHT
$fontweight-titles: 700;
$fontweight-parrafos: 400;
$fontweight-buttons: 500;
