.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tip1 {
  width: 90px;
  margin-top: 30px;
  margin-left: 15px;
}

.sub1 {
  width: 290px;
  height: 60px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.pmargi {
  width: 290px;
  height: 120px;
  margin-left: 15px;
}

.reasons {
  background-color: $color-pastelblue;
}

.sub2 {
  width: 290px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-bottom: 45px;
}

@media all and (min-width:768px) {
  .tip1 {
    width: 216px;
    margin-left: 39px;
}
  .sub1 {
    width: 690px;
    height: 45px;
    margin-left: 39px;
    margin-bottom: 30px;
}
  .pmargi {
    width: 690px;
    height: 60px;
    margin-left: 39px;
}
  .sub2 {
    width: 450px;
}
}
