.grids {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
text-align: center;
}

.reason {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 45px;
}

.reasonrest {
margin: 0px;
}

.sub2 {
width: 290px;
text-align: center;
margin-left: 15px;
padding-top: 30px;
margin-bottom: 45px;
}

.minititles {
width: 184px;
}

.pafito {
width: 180px;
height: 63px;
}
