@media all and (min-width:768px) {
  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 217px 105px;
    grid-template-areas: "sub sub sub" "r1 r2 r3" "boton boton boton";
  }

  .sub2 {
    grid-area: sub;
  }

  .r1 {
    grid-area: r1;
  }
  .r2 {
    grid-area: r2;
  }
  .r3 {
    grid-area: r3;
  }
  .more {
    grid-area: boton;
  }
  .reason {
    margin: 0;
  }
}
@media all and (min-width:1280px) {
  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 105px 208px 105px;
  }
}
