.menu {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: $color-blue;
  border-style: none;
}

.flecha {
  width: 45px;
  height: 45px;
  border-style: none;
  border-radius: 22.5px;
  background-color: $color-white;
  margin-bottom: 53px;
}

.go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border-style: none;
  border: solid 2px $color-orange;
  background-color: $color-white;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
// &:hover {
// color: $color-orange;
// }
}

.more {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  border-style: none;
  background-color: $color-orange;
  margin: auto;
  margin-top: 22.5px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.arriba {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border-style: none;
  background-color: $color-white;
  box-shadow: 0px 2px 4px 0px $color-greyvampire;
  position: absolute;
  top: -20px;
}
