.menu {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-white;
  margin-bottom: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go {
  display: inline-block;
  width: 76px;
  height: 45px;
  border: solid 2px $color-orange;
  border-radius: 22.5px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-orange;
  background-color: $color-white;
  transition: color ease 2s, background-color ease 2s;
  &:hover {
    background-color: $color-orange-hover; color: $color-white-hover;
  }
}

.more {
  display: inline-block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-orange;
  color: $color-white;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease 2s, background-color ease 2s, border ease 2s;
  &:hover {
    background-color: $color-white-hover;
    border: solid $color-orange-hover 2px;
    color: $color-orange-hover;
  }
}

.arriba {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border-style: none;
  background-color: $color-white;
  box-shadow: 0px 2px 4px 0px $color-greyvampire;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  &:hover {
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    @keyframes arrow {
      from {
        transform: scale(3) rotate(-150deg);
      }
      to {
        transform: scale(1);
      }
    }
  }
}
@media all and (min-width:768px) {
  .flecha {
    margin-bottom: 45px;
  }
  .go {
    width: 91px;
    margin-left: 39px;
    margin-bottom: 60px;
  }
  .more {
    width: 210px;
    margin-top: 0px;
  }
}
@media all and (min-width:1280px) {
  .flecha {
    margin-bottom: 13px;
  }
  .go {
    width: 160px;
    margin-left: 275px;
  }
  .more {
    width: 255px;
  }
}
