//BOTONES
.enlace {
  text-decoration: none;
  font-family: $fontfamily-buttons;
  font-weight: $fontweight-buttons;
  font-size: 20px;
  text-align: center;
}

.textbgo {
  color: $color-orange;
  transition: color ease 2s;
  &:hover {
    color: $color-white-hover;
  }
}

.textbmore {
  color: $color-white;
  transition: color ease 2s;
  &:hover {
    color: $color-orange-hover;
  }
}
//HEADER
.titulo {
  color: $color-white;
  font-family: $fontfamily-titles;
  font-weight: $fontweight-titles;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

.claim {
  color: $color-white;
  font-family: $fontfamily-parrafos;
  font-weight: $fontweight-parrafos;
  font-size: 16px;
  text-align: center;
}

@media all and (min-width:768px) {
  .titulo {
    font-size: 80px;
  }
  .claim {
    font-size: 24px;
  }
}

@media all and (min-width:1280px) {
  .titulo {
    font-size: 100px;
  }
}
//MAIN
.tip1 {
  color: $color-sky;
  font-family: $fontfamily-parrafos;
  font-weight: $fontweight-parrafos;
  font-size: 14px;
  line-height: 30px;
}

.subtitulo {
  color: $color-black;
  font-family: $fontfamily-titles;
  font-weight: $fontweight-titles;
  font-size: 24px;
}

.pmargi {
  color: $color-greyvampire;
  font-family: $fontfamily-parrafos;
  font-weight: $fontweight-parrafos;
  font-size: 18px;
  line-height: 30px;
}

.reason {
  text-align: center;
}
.minititles {
  color: $color-black;
  font-family: $fontfamily-titles;
  font-weight: $fontweight-titles;
  font-size: 18px;
  line-height: 30px;
}

.pafito {
  color: $color-black;
  font-family: $fontfamily-parrafos;
  font-weight: $fontweight-parrafos;
  font-size: 18px;
  line-height: 30px;
}

@media all and (min-width:768px) {
  .subtitulo {
    font-size: 26px;
  }
  .pmargi {
    font-size: 20px;
  }
  .minititles {
    font-size: 24px;
  }
  .pafito {
    font-size: 20px;
  }
}

@media all and (min-width:1280px) {
  .tip1 {
    font-size: 16px;
  }
  .subtitulo {
    font-size: 32px;
  }
}
//FOOTER
.tips {
  text-align: center;
  color: $color-white;
  font-family: $fontfamily-parrafos;
  font-weight: $fontweight-parrafos;
  font-size: 14px;
}

.corason {
  color: $color-orange;
}
